<div class="container">
    <!--<h2>Lista de Eventos</h2>-->
    <div class="panel panel-primary">
        <div class="panel-heading">Lista de Eventos</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="ngGridHeight" ui-grid="listaEventosCtrl.gridOptions" ui-grid-save-state ui-grid-move-columns ui-grid-resize-columns
                        ui-grid-grouping ui-grid-selection ui-grid-pagination></div>
                </div>
            </div>
            
        </div>
    </div>
</div>