<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Responsáveis</h4>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome Responsável</th>
                </tr>
            </thead>
            <tbody ng-repeat="responsavel in responsaveisCtrl.responsaveis">
                <tr>
                    <td>{{responsavel.nomeResponsavel}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>