<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Responsáveis</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome Responsável</th>
                    </tr>
                </thead>
                <tbody ng-repeat="responsavel in responsaveisCtrl.responsaveis">
                    <tr>
                        <td>{{responsavel.nomeResponsavel}}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>